version: "3.8"

services:
  server:
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    environment:
      - MONGODB_URI=mongodb://mongo:27017/ecosim
    restart: unless-stopped

  mongo:
    image: mongo:8.0.8
    container_name: ecosim-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data: